@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    height: 1vh;
}

main {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
}

/*  FONTS  */

h1 {
    font-size: 2rem;
    font-weight: 800;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

h4 {
    font-size: 1rem;
    font-weight: 400;
}

h5 {
    font-size: 1.2rem;
    font-weight: 100;
}

li {
    font-size: 1rem;
    font-weight: 600;
    list-style: none;
}

p {
    font-size: 1rem;
    font-weight: 100;
}

/*  IMAGES  */

img {
    height: 4vh;
    margin: 0 1.5vh;
}

svg {
    height: 6vh;
}

/*  LEFT  */

.nav-menu {
    background-color: #23232388;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 1vh;
    margin-bottom: 1vh;
    padding: 1vh;
    transition: 1s ease;
}

.nav-menu:hover {    
    filter: contrast(80%);
    transition: 0.5 ease;
}

.nav-menu-home, .nav-menu-contact {
    align-items: center;
    border-radius: 10px;
    display: flex;
    height: 7vh;
    padding-right: 15vh;
    transition: 1s ease;
}

.nav-menu-home:hover, .nav-menu-contact:hover {
    background-color: #232323;
    transition: 0.5s ease;
}

.nav-menu-home-icon {
    height: 3vh;
}

.projects {
    background-color: #23232388;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 66vh;
    margin: 0 1vh;
    padding: 0 1vh;
    transition: 1s ease;
}

.projects:hover {    
    filter: contrast(80%);
    transition: 0.5 ease;
}

.projects-head {
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    margin-top: 1vh;
    padding: 2vh 0;
    transition: 1s ease;
}

.projects-head:hover {
    background-color: #232323;
    transition: 0.5s ease;
}

.projects-content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.projects-content-container {
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    margin-right: 1vh;
    padding: 2vh 0;
    transition: 1s ease;
}

.projects-content-container:hover {
    background-color: #232323;
    transition: 0.5s ease;
}

.projects-content img {
    height: 6vh;
}

/*  CENTER  */

.content-head {
    background-image: url(./assets/cr5.png);
    background-position: left;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    height: 25vh;
    justify-content: space-around;
    padding-left: 5vh;
    transition: ease 2s;
}

.content-head:hover {
    filter: contrast(85%);
    transition: ease 0.5s;
}

.content:hover .content-info{
    border-radius: 0 0 10px 10px;
}

.content-head-up {
    align-items: center;
    display: flex;
}

.content-head-up-left {
    width: 20%;
}

.content-head-up-right {
    padding-left: 20vh;
    width: 30%;
}

.content-head-up-right img, .content-head-up-right svg {
    cursor: pointer;
}

.content-info {
    background-color: #23232388;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    height: 58vh;
    overflow-y: scroll;
    padding: 3vh 2vh 5vh 5vh;
    transition: 1s ease;
}

.content-info:hover {
    filter: contrast(80%);
    transition: 0.5 ease;
}

.content-info-icons img {
    height: 10vh;
}

/*  RIGHT  */

.inspirations {
    background-color: #23232388;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 83vh;
    margin: 0 1vh;
    min-width: 270px;
    transition: 1s ease;
}

.inspirations:hover {
    filter: contrast(80%);
    transition: 0.5 ease;
}

.inspirations-head {
    align-items: center;
    display: flex;
    padding: 4vh 0 4vh 2vh;
}

.inspirations-content {
    overflow-y: scroll;
}

.inspirations-content-img {
    height: 50px;
}

.inspirations-content-container {
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    margin: 0 1vh;
    padding: 2vh 1vh;
    transition: 1s ease;
}

.inspirations-content-container:hover {
    background-color: #232323;
    transition: 0.5s ease;
}

/*  FOOTER  */

footer {
    background-color: #000;
    color: #fff;
    display: flex;
    height: 16vh;
    justify-content: space-between;
}

.footer-left {
    align-items: center;
    display: flex;
}

.footer-left-img img {
    height: 7vh;
}

.footer-left-icon img {
    height: 2vh;
}

.footer-center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-center-bfp, .footer-center-tbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-center-bfp-icon {
    height: 3.5vh;
}

.footer-center-tbar-img {
    width: 50vh;
}

.footer-right {
    align-items: center;
    display: flex;
    padding-right: 2vh;
}

.footer-right img {
    height: 4vh;
}

.footer-mobile {
    display: none;
}

/*  Media Queries  */

@media only screen and (max-width: 1200px) {
    header {
        height: 0;
    }
    .navig {
        display: none;
    }
    .content-info {
        border-radius: 0px;
        height: 77vh;
        padding-bottom: 8vh;
    }
    .inspirations {
        display: none;
    }
    footer {
        background-color: #000000e5;
        bottom: 0;
        height: 8vh;
        overflow: hidden;
        position: fixed;
        width: 100%;
      }
    .footer-left, .footer-center, .footer-right {
        display: none;
    }
    .footer-mobile {
        align-items: center;
        display: flex;
        justify-content: space-around;
        padding: 0 2vh;
        width: 100%;
    }
    .footer-mobile-icon-big {
        height: 40%;
    }
    .footer-mobile-icon-small {
        height: 55%;
    }
}

/*  WEBKIT  */

/* width */
::-webkit-scrollbar {
    width: 1vh;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #23232300;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff83;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }