@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    height: 5vh;
}

main {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
}

/*  FONTS  */

h1 {
    font-size: 3rem;
    font-weight: 800;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

h5 {
    font-size: 1.5rem;
    font-weight: 100;
}

li {
    font-size: 1.2rem;
    font-weight: 600;
    list-style: none;
}

p {
    font-size: 1rem;
    font-weight: 100;
}

/*  IMAGES  */

img {
    height: 30px;
    margin: 0 3vh;
}

/*  LEFT  */

.navig {
    min-width: 15%;
}

.nav-menu {
    background-color: #2d2d2d;
    border-radius: 15px;
    margin: 0 0.5vh;
    margin-bottom: 0.5vh;
}

.nav-menu-home, .nav-menu-contact {
    align-items: center;
    display: flex;
    height: 7.25vh;
}

.projects {
    background-color: #2d2d2d;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 65vh;
    justify-content: space-around;
    margin: 0 0.5vh;
}

.projects-head {
    display: flex;
    padding: 1vh 0;
}

.projects-content {
    display: flex;
}

/*  CENTER  */

.content-head {
    background-color: #232323;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-around;
    padding-left: 5vh;
}

.content-head-up {
    align-items: center;
    display: flex;
}

.content-head-up-left {
    width: 20%;
}

.content-head-up-right {
    padding-left: 20vh;
    width: 30%;
}

.content-head-down {
    width: 40%;
}

.content-info {
    align-items: center;
    background-color: #2d2d2d;
    border-radius: 0 0 15px 15px;
    display: flex;
    height: 50vh;
    justify-content: center;
}

.content-info-left {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-around;
    max-width: 70%;
}

.content-info-right {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 3vh;
    justify-content: center;
    text-align: center;
    max-width: 20%;
}

/*  RIGHT  */

.inspirations {
    background-color: #2d2d2d;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-around;
    margin: 0 0.5vh;
    min-width: 20%;
}

.inspirations-head {
    display: flex;
    padding: 1vh 0;
}

.inspirations-content {
    display: flex;
}

footer {
    background-color: #000;
    color: #fff;
    height: 15vh;
}